.tab {
  tab-size: 4;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.h2 {
  font-style: normal;
  font-size: x-small;
  font-family: Calibri;
  color: black;
  text-align: center;
}

.container_whole_page {
  height: 100%;
  display: grid;
  grid-template-columns: 112.5fr 75fr 75fr 75fr 75fr 75fr 75fr 75fr 75fr 75fr 112.5fr;
  grid-template-rows: 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr 100fr 150fr;
  grid-template-areas:
    "main_collumn_left main_row main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_01 lap_01 lap_01 lap_01 lap_01 lap_01 lap_01 lap_01 lap_01 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_02 lap_02 lap_02 lap_02 lap_02 lap_02 lap_02 lap_02 lap_02 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_03 lap_03 lap_03 lap_03 lap_03 lap_03 lap_03 lap_03 lap_03 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_04 lap_04 lap_04 lap_04 lap_04 lap_04 lap_04 lap_04 lap_04 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_05 lap_05 lap_05 lap_05 lap_05 lap_05 lap_05 lap_05 lap_05 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_06 lap_06 lap_06 lap_06 lap_06 lap_06 lap_06 lap_06 lap_06 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_07 lap_07 lap_07 lap_07 lap_07 lap_07 lap_07 lap_07 lap_07 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_08 lap_08 lap_08 lap_08 lap_08 lap_08 lap_08 lap_08 lap_08 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_09 lap_09 lap_09 lap_09 lap_09 lap_09 lap_09 lap_09 lap_09 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_10 lap_10 lap_10 lap_10 lap_10 lap_10 lap_10 lap_10 lap_10 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_11 lap_11 lap_11 lap_11 lap_11 lap_11 lap_11 lap_11 lap_11 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_12 lap_12 lap_12 lap_12 lap_12 lap_12 lap_12 lap_12 lap_12 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left main_row main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_13 lap_13 lap_13 lap_13 lap_13 lap_13 lap_13 lap_13 lap_13 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_14 lap_14 lap_14 lap_14 lap_14 lap_14 lap_14 lap_14 lap_14 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_15 lap_15 lap_15 lap_15 lap_15 lap_15 lap_15 lap_15 lap_15 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_16 lap_16 lap_16 lap_16 lap_16 lap_16 lap_16 lap_16 lap_16 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_17 lap_17 lap_17 lap_17 lap_17 lap_17 lap_17 lap_17 lap_17 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_18 lap_18 lap_18 lap_18 lap_18 lap_18 lap_18 lap_18 lap_18 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_19 lap_19 lap_19 lap_19 lap_19 lap_19 lap_19 lap_19 lap_19 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_20 lap_20 lap_20 lap_20 lap_20 lap_20 lap_20 lap_20 lap_20 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_21 lap_21 lap_21 lap_21 lap_21 lap_21 lap_21 lap_21 lap_21 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_22 lap_22 lap_22 lap_22 lap_22 lap_22 lap_22 lap_22 lap_22 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_23 lap_23 lap_23 lap_23 lap_23 lap_23 lap_23 lap_23 lap_23 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_24 lap_24 lap_24 lap_24 lap_24 lap_24 lap_24 lap_24 lap_24 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left main_row main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_25 lap_25 lap_25 lap_25 lap_25 lap_25 lap_25 lap_25 lap_25 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_26 lap_26 lap_26 lap_26 lap_26 lap_26 lap_26 lap_26 lap_26 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_27 lap_27 lap_27 lap_27 lap_27 lap_27 lap_27 lap_27 lap_27 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_28 lap_28 lap_28 lap_28 lap_28 lap_28 lap_28 lap_28 lap_28 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_29 lap_29 lap_29 lap_29 lap_29 lap_29 lap_29 lap_29 lap_29 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_30 lap_30 lap_30 lap_30 lap_30 lap_30 lap_30 lap_30 lap_30 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_31 lap_31 lap_31 lap_31 lap_31 lap_31 lap_31 lap_31 lap_31 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_32 lap_32 lap_32 lap_32 lap_32 lap_32 lap_32 lap_32 lap_32 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_33 lap_33 lap_33 lap_33 lap_33 lap_33 lap_33 lap_33 lap_33 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_34 lap_34 lap_34 lap_34 lap_34 lap_34 lap_34 lap_34 lap_34 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_35 lap_35 lap_35 lap_35 lap_35 lap_35 lap_35 lap_35 lap_35 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left lap_36 lap_36 lap_36 lap_36 lap_36 lap_36 lap_36 lap_36 lap_36 main_collumn_right"
    "main_collumn_left barrier barrier barrier barrier barrier barrier barrier barrier barrier main_collumn_right"
    "main_collumn_left main_row main_collumn_right";
}

.main_collumn_left {
  grid-area: main_collumn_left;
  background-color: gray;
}

.main_collumn_right {
  grid-area: main_collumn_right;
  background-color: gray;
}

.main_row {
  grid-area: main_row;
  background-color: gray;
}

.barrier {
  grid-area: barrier;
  background-color: white;
}

.lap_01 {
  grid-area: lap_01;
  background-color: #3D642D;
}

.lap_02 {
  grid-area: lap_02;
  background-color: #6C7156;
}

.lap_03 {
  grid-area: lap_03;
  background-color: #FF7514;
}

.lap_04 {
  grid-area: lap_04;
  background-color: #4C9141;
}

.lap_05 {
  grid-area: lap_05;
  background-color: #0E294B;
}

.lap_06 {
  grid-area: lap_06;
  background-color: #308446;
}

.lap_07 {
  grid-area: lap_07;
  background-color: #1B5583;
}

.lap_08 {
  grid-area: lap_08;
  background-color: #E4A010;
}

.lap_09 {
  grid-area: lap_09;
  background-color: #EAE6CA;
}

.lap_10 {
  grid-area: lap_10;
  background-color: #A5A5A5;
}

.lap_11 {
  grid-area: lap_11;
  background-color: #633A34;
}

.lap_12 {
  grid-area: lap_12;
  background-color: #2C5545;
}

.lap_13 {
  grid-area: lap_13;
  background-color: #2A6478;
}

.lap_14 {
  grid-area: lap_14;
  background-color: #A65E2E;
}

.lap_15 {
  grid-area: lap_15;
  background-color: #EFA94A;
}

.lap_16 {
  grid-area: lap_16;
  background-color: #C51D34;
}

.lap_17 {
  grid-area: lap_17;
  background-color: #59351F;
}

.lap_18 {
  grid-area: lap_18;
  background-color: #D0D0D0;
}

.lap_19 {
  grid-area: lap_19;
  background-color: #646B63;
}

.lap_20 {
  grid-area: lap_20;
  background-color: #F4F4F4;
}

.lap_21 {
  grid-area: lap_21;
  background-color: #F5D033;
}

.lap_22 {
  grid-area: lap_22;
  background-color: #59351F;
}

.lap_23 {
  grid-area: lap_23;
  background-color: #82898F;
}

.lap_24 {
  grid-area: lap_24;
  background-color: #31372B;
}

.lap_25 {
  grid-area: lap_25;
  background-color: #8673A1;
}

.lap_26 {
  grid-area: lap_26;
  background-color: #D6AE01;
}

.lap_27 {
  grid-area: lap_27;
  background-color: #A2231D;
}

.lap_28 {
  grid-area: lap_28;
  background-color: #8F8B66;
}

.lap_29 {
  grid-area: lap_29;
  background-color: #C35831;
}

.lap_30 {
  grid-area: lap_30;
  background-color: #6C6874;
}

.lap_31 {
  grid-area: lap_31;
  background-color: #2F353B;
}

.lap_32 {
  grid-area: lap_32;
  background-color: #781F19;
}

.lap_33 {
  grid-area: lap_33;
  background-color: #587246;
}

.lap_34 {
  grid-area: lap_34;
  background-color: #CDA434;
}

.lap_35 {
  grid-area: lap_35;
  background-color: #20214F;
}

.lap_36 {
  grid-area: lap_36;
  background-color: #5E2129;
}