.tab {
  tab-size: 4;
}

.container_whole_page {
  height: 100%;
  display: grid;
  grid-template-columns: 192fr 768fr;
  grid-template-rows: 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr 40fr;
  grid-template-areas:
    "header header header"
    "asideLEFT mainCAST asideRIGHT"
    "asideLEFT mainPLOT asideRIGHT"
    "asideLEFT mainSOURCES asideRIGHT"
    "footer footer footer";
}

.main_collumn {

}